@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.heading {
  text-align: center;
  font-size: 4rem;
  width: 90%;
  text-shadow: 0 0 0.5rem #d8e3e7;
  margin: auto;
  color: #d8e3e7;
  background-color: #126e82;
  opacity: 0.8;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 3rem #132c33;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn ease-out 1s forwards;
}

.description {
  text-align: center;
  width: 45%;
  padding: 1rem;
  margin-left: 50%;
  margin-right: 5%;
  letter-spacing: 1px;
  background-color: transparent;
  height: auto;
  font-size: 2rem;
  animation: fromRight ease-out 1s forwards;
}

.legends {
  background-color: rgb(255,255,255,.7);
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 1rem #132c33;
}

.legends h1 {
  color: transparent;
  color: #132c33;
  background-clip: text;
  text-shadow: -.5rem .5rem 1rem #132c33;
  background-image: url('https://wallpapercave.com/wp/wp2763894.gif'); 
  text-transform: uppercase;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.cards {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.news {
  background-color: #132c33;
  color: #d8e3e7;
  height: auto;
  text-align: left;
  padding: 1rem;
  box-shadow: 1rem 0rem 1rem #132c33;
}

.news h1 {
  text-align: center;
  text-transform: uppercase;
}

.divider {
  background-color: #132c33;
  height: .3rem;
  box-shadow: 0 0 .3rem #132c33;
}
