.base {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.base li {
  font-size: 1.2rem;
  transition: 0.3s ease-in;
  margin: 0 2rem;
}

.base li:hover {
    color: #51c4d3;
    font-size: 1.25rem;
    animation: shine ease-in 1s infinite;
}
